<h1>Hello World</h1>
<p>Find me in app/views/welcome/index.html.erb</p>
<video id="video"></video>
<button id="startbutton">Take photo</button>
<canvas id="canvas"></canvas>


<%= form_tag("authenticate/auth_picture", method: "post") do %>
  <%= submit_tag("Submit", id: "submit_button")%>
<% end %>