<div id="header">
<h1>KeyFace</h1>
</div>
<div id="pictures">
<video id="video"></video>

<canvas id="canvas"></canvas>
</div>
<div class="buttons">
<button id="start_button">Take photo</button>
<br>
<%= form_tag("authenticate/auth_picture", method: "post") do %>
  <%= submit_tag("Sign Up", id: "signup_button")%>
  <%= submit_tag("Log in", id: "login_button")%>
<% end %>
</div>